<header>
    <div class="header-content container">
        <a href="{{ path('bo_dashboard') }}" class="header-content__logo">
            <img src="{{ asset('build/images/logo.svg') }}" alt="{{ 'back.menu.dashboard'|trans }}">
        </a>
        <nav class="header-content__menu">
            <a href="{{ path('bo_dashboard') }}">{{ 'back.menu.dashboard'|trans }}</a>
            <a href="{{ path('bo_registration_list') }}">{{ 'back.menu.registration'|trans }}</a>
        </nav>
        <div class="header-content__user">
            <div class="username">{{ app.user.email }}</div>
            <a class="logout" href="{{ path('app_logout') }}">{{ 'global.logout'|trans }}</a>
        </div>
    </div>
</header>
