{% block price_option_row %}
  <div class="columns">
    <div class="column is-three-quarters">
      {{ form_row(form.label) }}
      {{ form_widget(form.rank, {'attr': {'data-rank': ''}}) }}
    </div>
    <div class="column auto">
      {{ form_row(form.amount) }}
    </div>
  </div>
{% endblock %}

{% block season_price_option_list_widget %}
  {% if errors|length > 0 %}
    {{- form_errors(form) -}}
  {% endif %}
  <ul
    id="{{ form.vars.id }}_form"
    class="collection-type price-option-list"
    data-collection-type="li"
    data-sortable
    {% if (allow_add) %}
      data-prototype="{{ form_row(form.vars.prototype)|e('html_attr') }}"
      data-prototype-name="{{ prototype.vars['name']|default('__name__') }}"
      data-trigger-add="{{ 'global.add'|trans }}"
    {% endif %}
    {% if (allow_delete) %}
      data-trigger-remove="{{ 'global.delete'|trans }}"
      data-trigger-remove-confirm="{{ 'global.confirmDelete'|trans }}"
    {% endif %}
  >
    {% if (allow_add) %}
      <button class="button is-success add-item">
        <span class="icon is-small">
          <i class="icon-more"></i>
        </span>
        <span>{{ 'back.season.form.addPriceOption'|trans }}</span>
      </button>
    {% endif %}
    {% for child in form %}
      <li class="collection-type-item">
        {{ form_row(child) }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
