{% extends 'back.html.twig' %}

{% block body %}

    <h1 class="title">{{ 'back.season.edit.title'|trans }} {{ season.label }}</h1>

    {% if season.id is not null and not season.active %}
        <div class="is-flex is-flex-direction-row is-justify-content-flex-end is-align-content-center">
            <form
                data-confirm
                data-confirm-message="{{ 'global.confirmActivate'|trans }}"
                action="{{ path('bo_season_activate', {'season': season.id}) }}"
                method="POST"
            >
                <button type="submit" class="button is-danger">{{ 'global.activate'|trans }}</button>
            </form>
        </div>
    {% endif %}

    {{ form_start(form) }}
    <div class="columns">
        <div class="column">
            {{ form_row(form.startDate) }}
        </div>
        <div class="column">
            {{ form_row(form.endDate) }}
        </div>
    </div>
    <div class="is-flex is-flex-direction-row is-justify-content-flex-end is-align-content-center">
        <div class="block">
            <a href="{{ path('bo_season_list') }}" class="button is-warning">{{ 'global.cancel'|trans }}</a>
            <button type="submit" class="button is-success">{{ 'global.validate'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
