{% set securityPage = 'forgot-password' %}

{% extends 'security.html.twig' %}

{% block title %}{{ 'page.forgot_password.title'|trans }}{% endblock %}

{% block security_form %}
    {% import 'macros/tools.html.twig' as tool %}
    <h1>{{ 'page.forgot_password.title'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ tool.button('page.forgot_password.button', 'submit') }}
    {{ form_end(form) }}
{% endblock %}
