{% set securityPage = 'register' %}

{% extends 'security.html.twig' %}

{% block title %}{{ 'page.register.title'|trans }}{% endblock %}

{% block security_form %}
    {% import 'macros/tools.html.twig' as tool %}
    <h1>{{ 'page.register.title'|trans }}</h1>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ tool.button('page.register.button', 'submit') }}
    {{ form_end(form) }}
{% endblock %}
