{% set securityPage = 'reset-password' %}

{% extends 'security.html.twig' %}

{% block title %}{{ 'page.reset_password.title'|trans }}{% endblock %}

{% block security_form %}
    {% import 'macros/tools.html.twig' as tool %}
    <h1>{{ 'page.reset_password.title'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.newPassword) }}
    {{ tool.button('global.validate', 'submit') }}
    {{ form_end(form) }}
{% endblock %}
