{% extends 'layout/_back.html.twig' %}

{% block body %}

    {% include 'back/adherent/_header.html.twig' with {
        'current': 'registration',
        'adherent': registration.adherent,
        'registration': registration,
    } %}

    <h1 class="title">{{ 'back.registration.edit.title'|trans }} - {{ 'back.registration.edit.season'|trans }} {{ registration.season.getDisplayLabel() }}</h1>

    <div class="form-wrapper">
        {{ form_start(form) }}
        <div class="columns">
            <div class="column">{{ form_row(form.withLegalRepresentative, {'attr': {'data-field-update': 'legal-representative'}}) }}</div>
        </div>
        <div data-field-update-target="legal-representative">
            {% if form.legalRepresentative is defined %}
                <div class="columns">
                    <div class="column">
                        <div class="fieldset">
                            {{ form_label(form.legalRepresentative) }}
                            <div class="columns">
                                <div class="column">{{ form_row(form.legalRepresentative.firstName) }}</div>
                                <div class="column">{{ form_row(form.legalRepresentative.lastName) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="columns">
            <div class="column">
                <div class="fieldset">
                    {{ form_label(form.emergency) }}
                    <div class="columns">
                        <div class="column">{{ form_row(form.emergency.lastName) }}</div>
                        <div class="column">{{ form_row(form.emergency.firstName) }}</div>
                        <div class="column">{{ form_row(form.emergency.phone) }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="fieldset">
                    <label>{{ 'form.documents.label'|trans }}</label>
                    <div class="columns">
                        <div class="column">{{ form_row(form.medicalCertificateFile) }}</div>
                    </div>
                    <div class="columns">
                        <div class="column">{{ form_row(form.licenceFormFile) }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">{{ form_row(form.comment) }}</div>
        </div>
        <div class="columns">
            <div class="column">{{ form_row(form.purpose) }}</div>
        </div>
        <div class="columns">
            <div class="column">{{ form_row(form.priceOption) }}</div>
        </div>
        <div class="columns">
            <div class="column">
                {{ form_row(form.usePassCitizen, {'attr': {'data-field-update': 'pass-Citizen'}}) }}
            </div>
            <div class="column">
                <div data-field-update-target="pass-Citizen">
                    {% if form.passCitizenFile is defined %}
                        {{ form_widget(form.passCitizenFile) }}
                        {{ form_errors(form.passCitizenFile) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                {{ form_row(form.usePassSport, {'attr': {'data-field-update': 'pass-Sport'}}) }}
            </div>
            <div class="column">
                <div data-field-update-target="pass-Sport">
                    {% if form.passSportFile is defined %}
                        {{ form_widget(form.passSportFile) }}
                        {{ form_errors(form.passSportFile) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">{{ form_row(form.copyrightAuthorization) }}</div>
        </div>
        <div class="columns mt-2">
            <div class="column">
                <div class="fieldset">
                    <label>{{ 'form.registration.internalLabel'|trans }}</label>
                    <div class="columns">
                        <div class="column">{{ form_row(form.privateNote) }}</div>
                    </div>
                    <div class="columns">
                        <div class="column">{{ form_row(form.licenceNumber) }}</div>
                        <div class="column">{{ form_row(form.licenceDate) }}</div>
                        <div class="column">{{ form_row(form.registeredAt) }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="is-flex is-flex-direction-row is-justify-content-flex-end is-align-content-center">
            <div class="block">
                <button type="submit" class="button is-primary">{{ 'global.validate'|trans }}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
