{% extends 'back.html.twig' %}

{% block body %}

    {% embed 'back/components/_grid.html.twig' %}

        {% block filter %}
            <div class="flex row">
                {% for filter in filters %}
                    <a href="{{ path('bo_registration_list', {'filter': filter}) }}" class="button-filter">{{ ('back.registration.grid.filter.'~filter)|trans }}</a>
                {% endfor %}
            </div>
        {% endblock %}

        {% block action %}
            <div class="flex row">
                <a href="{{ path('bo_export_adherent') }}" target="_blank" class="button-icon button-icon--export">{{ 'global.export'|trans }}</a>
                <a href="{{ path('bo_registration_add') }}" class="button-icon button-icon--add">{{ 'back.registration.grid.action.add'|trans }}</a>
            </div>
        {% endblock %}

        {% block beforeTable %}
        <div class="grid-note grid-note--right">{{ registrations|length }} inscriptions</div>
        {% endblock %}

        {% block thead %}
            <th>
                {{ 'back.registration.grid.header.lastName'|trans }}
                <div class="sort" data-sort="lastName"></div>
            </th>
            <th>
                {{ 'back.registration.grid.header.firstName'|trans }}
                <div class="sort" data-sort="firstName"></div>
            </th>
            <th>{{ 'back.registration.grid.header.phone'|trans }}</th>
            <th>{{ 'back.registration.grid.header.email'|trans }}</th>
            <th>
                {{ 'back.registration.grid.header.registeredAt'|trans }}
                <div class="sort" data-sort="registeredAt"></div>
            </th>
            <th></th>
        {% endblock %}

        {% block tbody %}
            {% for registration in registrations %}
                <tr>
                    <td class="lastName">{{ registration['lastName'] }}</td>
                    <td class="firstName">{{ registration['firstName'] }}</td>
                    <td class="phone">{{ registration['phone'] }}</td>
                    <td class="email">{{ registration['email'] }}</td>
                    <td class="registeredAt">{{ registration['registeredAt']|date('d/m/Y') }}</td>
                    <td class="center">
                        <a href="{{ path('bo_registration_edit', {'adherent': registration['adherentId']}) }}"><i class="icon-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

    {% endembed %}

{% endblock %}
