{% extends 'layout/_front.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block meta %}
    <meta name="keywords" content="krav-maga, self-defense, mma, cours femmes, cours ados, cardio training, combat, mental" />
    <meta name="description" content="Des questions sur la pratique du Krav Maga et/ou de la self defense ? N'hésitez pas à nous contacter ou retouvez nous à Liancourt et à Villers-Sous-Saint-Leu au cours de nos entraînements.">
    <meta name="og:title" property="og:title" content="Contactez-nous">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner.html.twig' with {
        'image': asset('build/images/contact.webp'),
        'title': ('front.contact.header.title'|trans),
        'darkOverlay': true,
    } only %}
{% endblock %}

{% block body %}

    <div class="section" itemscope itemtype="https://schema.org/Organization">
        <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.contact.page.title'|trans }}</h2>
        <p>Pour tout renseignement, vous pouvez nous contacter au <a href="tel:0783237428" itemprop="telephone">07.83.23.74.28</a> ou nous laisser un message à l'aide du formulaire ci-dessous.</p>
        <p>
            Vous pouvez aussi nous retrouver :
            <ul class="contact-locations">
                <li>
                    à <span itemprop="addressLocality">Liancourt</span> le lundi / mercredi de 19h00 à 21h30 et le mardi de 18h30 à 21h00
                    <a itemscope itemtype="https://schema.org/GeoCoordinates" href="https://www.google.com/maps/place/Collège+La+Rochefoucauld/@49.3262507,2.4592501,16z/data=!3m1!4b1!4m6!3m5!1s0x47e64ac4d94d7355:0xb2ec60327646476a!8m2!3d49.3262473!4d2.464121!16s%2Fg%2F1ttdm910" target="_blank">
                        <i class="icon-location"></i>
                        <meta itemprop="latitude" content="49.3262507" />
                        <meta itemprop="longitude" content="2.4592501" />
                    </a>
                </li>
                <li>
                    à <span itemprop="addressLocality">Villers-Sous-Saint-Leu</span> le vendredi de 19h30 à 22h00 et le samedi de 14h00 à 17h00
                    <a itemscope itemtype="https://schema.org/GeoCoordinates" href="https://www.google.com/maps/place/23+Rue+du+Castel,+60340+Villers-Sous-Saint-Leu/@49.2142549,2.396175,17z/data=!3m1!4b1!4m5!3m4!1s0x47e648d4a31f8c93:0x7abe632340c2a373!8m2!3d49.2142549!4d2.3983637" target="_blank">
                        <i class="icon-location"></i>
                        <meta itemprop="latitude" content="49.2142549" />
                        <meta itemprop="longitude" content="2.396175" />
                    </a>
                </li>
            </ul>
        </p>
        <div class="contact-form-wrapper">
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.message, {'attr': {'class': 'large'}}) }}
            {{ form_row(form.captcha) }}
            <div class="flex flex--content-end">
                <button type="submit" class="button">{{ 'global.validate'|trans }} <i class="icon-checkmark"></i></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
