{% extends 'front.html.twig' %}

{% block header %}
    {% include 'front/components/_banner.html.twig' with {
        'image': asset('build/images/contact.webp'),
        'title': ('front.contact.header.title'|trans),
    } only %}
{% endblock %}

{% block body %}

    <div class="section">
        <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.contact.page.title'|trans }}</h2>
        <p class="m-bottom-3">Pour tout renseignement, vous pouvez nous contacter au <a href="tel:0783237428">07.83.23.74.28</a> ou nous laisser un message à l'aide du formulaire ci-dessous.</p>
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.message, {'attr': {'class': 'large'}}) }}
            {{ form_row(form.captcha) }}
            <div class="flex flex--content-end">
                <button type="submit" class="button">{{ 'global.validate'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
