{% extends 'layout/_front.html.twig' %}

{% block meta %}
    <meta name="keywords" content="Krav Maga, self-defense, club Oise, Villers-Sous-Saint-Leu, Mogneville" />
    <meta name="description" content="Le KMIS, club de Krav Maga Self Defense dans l'Oise vous permettra d'apprendre à vous défendre. Venez améliorer votre condition physique, développer votre mental et vos techniques de combat.">
    <meta name="og:title" property="og:title" content="Krav Maga Impact System">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner-home.html.twig' %}
{% endblock %}

{% block body %}

    <div id="club" class="section" itemscope itemtype="https://schema.org/Organization">
        <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.home.section.club'|trans }}</h2>
        <p>Le <span itemprop="name">KMIS</span> offre tout un panel de disciplines complémentaires toutes axées autour de la défense. Que ce soit l'amélioration de la condition physique qui permettra par exemple une meilleure gestion des effets du stress, de l'apprentissage de techniques de combat ou de défense ou bien plus spécifiquement LA Self Defense, vous trouverez la ou les disciplines qui vous permettront de vous épanouir avec une équipe à votre écoute et mobilisée pour la réussite de chacun.</p>
        <p>Chacun trouvera une ou plusieurs activités lui permettant de sortir de sa zone de confort et progresser efficacement.</p>
    </div>

    <div id="sporting" class="section">
        <h2 data-aos="zoom-out">{{ 'front.home.section.sporting'|trans }}</h2>
        <div class="sporting-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.kmDefense.title'|trans,
                        'image': asset('build/images/km_defense.webp'),
                        'content': 'Pour travailler toutes les composantes de la self-defense.',
                        'link': path('app_sporting')~'#km-defense',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.kmTraining.title'|trans,
                        'image': asset('build/images/km_training.webp'),
                        'content': 'Pour augmenter sa confiance en soi et parfaire son bagage technique.',
                        'link': path('app_sporting')~'#km-training',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.kmixMma.title'|trans,
                        'image': asset('build/images/kmix_mma.webp'),
                        'content': 'Pour augmenter ses aptitudes de défense.',
                        'link': path('app_sporting')~'#kmix-mma',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.defenseWomen.title'|trans,
                        'image': asset('build/images/defense_women.webp'),
                        'content': 'Pour améliorer votre assurance et vos réflexes.',
                        'link': path('app_sporting')~'#defense-femme',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.defenseTeenager.title'|trans,
                        'image': asset('build/images/defense_teenager.webp'),
                        'content': 'Pour améliorer sa condition physique et mentale.',
                        'link': path('app_sporting')~'#defense-ados',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.cardioTraining.title'|trans,
                        'image': asset('build/images/cardio_fit_krav.webp'),
                        'content': 'Pour se doter de la condition physique souhaitée.',
                        'link': path('app_sporting')~'#cardio-fit-krav',
                    } %}
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <div id="practical-info" class="section">
        <h2 data-aos="zoom-out">{{ 'front.home.section.practicalInfo'|trans }}</h2>
        <div class="sessions">
            <div class="session">
                <div class="session__city">
                    <div class="name">Mogneville</div>
                    <a
                        href="https://www.google.com/maps/search/4+place+jean+jaures+60140+mogneville/@49.3177976,2.4699965,17z/data=!3m1!4b1"
                        class="link-icon-button"
                        target="_blank"
                    >
                        Localisation <i class="icon-location"></i>
                    </a>
                    <div class="address" itemscope itemtype="https://schema.org/PostalAddress">
                        <span itemprop="streetAddress">4 place Jean Jaurès</span><br/>
                        <span itemprop="postalCode">60140</span> <span itemprop="addressLocality">Mogneville</span>
                        <meta itemprop="addressRegion" content="Oise" />

                    </div>
                </div>
                <ul class="session__time">
                    <li>
                        Lundi
                        <ul>
                            <li>19h30 - 20h30 : KMix-MMA Defense</li>
                            <li>20h30 - 22h30 : Krav Maga Self Defense</li>
                        </ul>
                    </li>
                    <li>
                        Mercredi
                        <ul>
                            <li>19h30 - 20h30 : Cardio Fit Krav</li>
                            <li>20h30 - 22h30 : Krav Defense Training</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="session">
                <div class="session__city">
                    <div class="name">Villers-Sous-Saint-Leu</div>
                    <a
                        href="https://www.google.com/maps/place/23+Rue+du+Castel,+60340+Villers-Sous-Saint-Leu/@49.2142549,2.396175,17z/data=!3m1!4b1!4m5!3m4!1s0x47e648d4a31f8c93:0x7abe632340c2a373!8m2!3d49.2142549!4d2.3983637"
                        class="link-icon-button"
                        target="_blank"
                    >
                        Localisation <i class="icon-location"></i>
                    </a>
                    <div class="address" itemscope itemtype="https://schema.org/PostalAddress">
                        <span itemprop="streetAddress">23 rue du Castel</span><br/>
                        <span itemprop="postalCode">60340</span> <span itemprop="addressLocality">Villers-Sous-Saint-Leu</span>
                        <meta itemprop="addressRegion" content="Oise" />
                    </div>
                </div>
                <ul class="session__time">
                    <li>
                        Vendredi
                        <ul>
                            <li>19h30 - 20h30 : KMix-MMA Defense</li>
                            <li>20h30 - 22h30 : Krav Maga Self Defense</li>
                        </ul>
                    </li>
                    <li>
                        Samedi
                        <ul>
                            <li>13h00 - 14h30 : Defense Ado</li>
                            <li>13h00 - 14h30 : Defense Femme</li>
                            <li>13h00 - 14h30 : KMix-MMA Defense</li>
                            <li>14h30 - 16h00 : Krav Defense Training</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card pricing">
            <div class="card__title">Tarifs</div>
            <div class="card__detail">
                <ul>
                    {% for priceOption in priceOptions %}
                    <li>{{ priceOption.label }} : <strong>{{ priceOption.amount }} <i class="icon-euro"></i></strong></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card equipment">
            <div class="card__title">Équipement</div>
            <div class="card__detail">
                <ul>
                    <div>Obligatoire</div>
                    <li>Baskets propres dédiées à la salle</li>
                    <li>Coquille pelvienne</li>
                    <li>Mitaines MMA</li>
                </ul>
                <ul>
                    <div>Recommandé</div>
                    <li>Protège dents</li>
                    <li>Protège tibias</li>
                    <li>Protège avant-bras</li>
                    <li>Casque idéalement type Kudo</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
