{% extends 'layout/_front.html.twig' %}

{% block meta %}
    <meta name="keywords" content="Krav Maga, self defense, club, Oise, Chantilly, Senlis, Creil, Clermont" />
    <meta name="description" content="Le KMIS, club de Krav Maga Self Defense dans l'Oise vous permettra d'apprendre à vous défendre. Venez améliorer votre condition physique, développer votre mental et vos techniques de combat.">
    <meta name="og:title" property="og:title" content="Krav Maga Impact System">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner-home.html.twig' %}
{% endblock %}

{% block body %}

    <div id="club" class="section" itemscope itemtype="https://schema.org/Organization">
        <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.home.section.club'|trans }}</h2>
        <p>Le <span itemprop="name">KMIS</span> offre tout un panel de disciplines complémentaires toutes axées autour de la défense. Que ce soit l'amélioration de la condition physique qui permettra par exemple une meilleure gestion des effets du stress, de l'apprentissage de techniques de combat ou de défense ou bien plus spécifiquement LA Self Defense, vous trouverez la ou les disciplines qui vous permettront de vous épanouir avec une équipe à votre écoute et mobilisée pour la réussite de chacun.</p>
        <p>Chacun trouvera une ou plusieurs activités lui permettant de sortir de sa zone de confort et progresser efficacement.</p>
    </div>

    <div id="sporting" class="section">
        <h2 data-aos="zoom-out">{{ 'front.home.section.sporting'|trans }}</h2>
        <div class="sporting-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.kmDefense.title'|trans,
                        'image': asset('build/images/km_defense.webp'),
                        'content': 'Pour travailler toutes les composantes de la self-defense.',
                        'link': path('app_sporting')~'#km-defense',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.kmTraining.title'|trans,
                        'image': asset('build/images/km_training.webp'),
                        'content': 'Pour augmenter sa confiance en soi et parfaire son bagage technique.',
                        'link': path('app_sporting')~'#km-training',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.kmixMma.title'|trans,
                        'image': asset('build/images/kmix_mma.webp'),
                        'content': 'Pour augmenter ses aptitudes de défense.',
                        'link': path('app_sporting')~'#kmix-mma',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.defenseWomen.title'|trans,
                        'image': asset('build/images/defense_women.webp'),
                        'content': 'Pour améliorer son assurance et ses réflexes.',
                        'link': path('app_sporting')~'#defense-femme',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.defenseTeenager.title'|trans,
                        'image': asset('build/images/defense_teenager.webp'),
                        'content': 'Pour améliorer sa condition physique et mentale.',
                        'link': path('app_sporting')~'#defense-ados',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.cardioTraining.title'|trans,
                        'image': asset('build/images/cardio_fit_krav.webp'),
                        'content': 'Pour se doter de la condition physique souhaitée.',
                        'link': path('app_sporting')~'#cardio-fit-krav',
                    } %}
                </div>
                <div class="swiper-slide">
                    {% include 'front/components/_home_slide.html.twig' with {
                        'title': 'front.home.sporting.kravChildren.title'|trans,
                        'image': asset('build/images/krav_children.webp'),
                        'content': 'Pour se dépenser, améliorer sa motricité et s\'amuser.',
                        'link': path('app_sporting')~'#krav-children',
                    } %}
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <div id="practical-info" class="section">
        <h2 data-aos="zoom-out">{{ 'front.home.section.practicalInfo'|trans }}</h2>
        <div class="sessions">
            {% include 'front/components/_home_location.html.twig' with {
                'city': 'Liancourt',
                'mapLink': 'https://www.google.com/maps/place/Collège+La+Rochefoucauld/@49.3262507,2.4592501,16z/data=!3m1!4b1!4m6!3m5!1s0x47e64ac4d94d7355:0xb2ec60327646476a!8m2!3d49.3262473!4d2.464121!16s%2Fg%2F1ttdm910',
                'addressStreet1': 'Gymnase - Collège La Rochefoucauld',
                'addressStreet2': 'Rue du général De Gaulle',
                'addressZipCode': '60140',
                'planning': {
                    'Lundi': ['19h00 - 20h00 : Krav Maga Ados', '19h00 - 20h30 : KMix-MMA', '20h00 - 21h30 : Krav Maga / Self Defense'],
                    'Mardi': ['18h30 - 19h30 : Krav Maga enfants', '19h30 - 21h00 : Cours Élite'],
                    'Mercredi': ['19h00 - 20h00 : Cardio Fit', '20h00 - 21h30 : Krav Maga / Self Defense'],
                }
            } %}
            {% include 'front/components/_home_location.html.twig' with {
                'city': 'Villers-Sous-Saint-Leu',
                'mapLink': 'https://www.google.com/maps/place/23+Rue+du+Castel,+60340+Villers-Sous-Saint-Leu/@49.2142549,2.396175,17z/data=!3m1!4b1!4m5!3m4!1s0x47e648d4a31f8c93:0x7abe632340c2a373!8m2!3d49.2142549!4d2.3983637',
                'addressStreet1': '23 rue du Castel',
                'addressStreet2': null,
                'addressZipCode': '60340',
                'planning': {
                    'Vendredi': ['19h30 - 20h30 : Krav Maga Ados', '19h30 - 21h00 : KMix-MMA', '20h30 - 22h00 : Krav Maga / Self Defense'],
                    'Samedi': ['14h00 - 17h00 : Stages thématiques<br/><i>(informations pratiques communiquées par mail)</i>'],
                }
            } %}
        </div>
        <div class="sessions sessions--center">
            {% include 'front/components/_home_location.html.twig' with {
                'city': 'Précy-sur-Oise',
                'mapLink': 'https://www.google.com/maps/place/34+Sente+Sorel,+60460+Pr%C3%A9cy-sur-Oise/@49.212344,2.3721153,17z/data=!3m1!4b1!4m6!3m5!1s0x47e64f23b2c84ab9:0x601a1dd1c86a36f4!8m2!3d49.2123406!4d2.3769862!16s%2Fg%2F11c4nbmb5q',
                'addressStreet1': 'Dojo - 34 sente Sorel',
                'addressStreet2': null,
                'addressZipCode': '60460',
                'planning': {
                    'Jeudi': ['19h00 - 20h30 : Krav Maga / Self Defense'],
                }
            } %}
        </div>
        <div class="card pricing">
            <div class="card__title">Tarifs</div>
            <div class="card__detail">
                <ul>
                    {% for priceOption in priceOptions %}
                    <li>{{ priceOption.label }} : <strong>{{ priceOption.amount }} <i class="icon-euro"></i></strong></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card__note">
                <ul>
                    <li>
                        Ados : 10-14/15 ans / Adultes : à partir de 15/16 ans<br/>
                        (Licence FFKDA 39 € incluse)
                    </li>
                </ul>
            </div>
        </div>
        <div class="card equipment">
            <div class="card__title">Équipement</div>
            <div class="card__detail">
                <ul>
                    <div>Obligatoire</div>
                    <li>Baskets propres dédiées à la salle</li>
                    <li>Coquille pelvienne</li>
                    <li>Mitaines MMA</li>
                </ul>
                <ul>
                    <div>Recommandé</div>
                    <li>Protège dents</li>
                    <li>Protège tibias</li>
                    <li>Protège avant-bras</li>
                    <li>Casque idéalement type Kudo</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
