{% extends 'front.html.twig' %}

{% block header %}
    {% include 'front/components/_banner.html.twig' with {
        'image': asset('build/images/registration.webp'),
        'title': ('front.registration.header.title'|trans),
    } only %}
{% endblock %}

{% block body %}

    <div class="section">
        <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.registration.page.title'|trans }}</h2>
        {{ form_start(form, {'attr': {'class': 'registration-form'}}) }}
            <div class="row col-x2 col-sm-x1">
                {{ form_row(form.lastName) }}
                {{ form_row(form.firstName) }}
            </div>
            <div class="row col-x3 col-md-x2 col-sm-x1">
                {{ form_row(form.pseudonym) }}
                {{ form_row(form.birthDate) }}
                {{ form_row(form.gender) }}
            </div>
            {{ form_row(form.pictureFile) }}
            <div class="row col-x2 col-sm-x1">
                {{ form_row(form.email) }}
                {{ form_row(form.phone) }}
            </div>
            {{ form_row(form.address.street) }}
            <div class="row col-x2 col-sm-x1">
                {{ form_row(form.address.zipCode) }}
                {{ form_row(form.address.city) }}
            </div>
            {{ form_row(form.registrationInfo.medicalCertificateFile) }}
            <div class="m-bottom-3">
                {{ form_row(form.registrationInfo.comment) }}
            </div>
            <div class="fieldset">
                {{ form_label(form.registrationInfo.emergency) }}
                <div class="row col-x3 col-md-x2 col-sm-x1">
                    {{ form_row(form.registrationInfo.emergency.lastName) }}
                    {{ form_row(form.registrationInfo.emergency.firstName) }}
                    {{ form_row(form.registrationInfo.emergency.phone) }}
                </div>
            </div>

            {{ form_row(form.registrationInfo.purpose) }}
            {{ form_row(form.registrationInfo.ffkPassport) }}
            {{ form_row(form.registrationInfo.copyrightAuthorization) }}
            {{ form_row(form.captcha) }}
            <div class="flex flex--content-end">
                <button type="submit" class="button">{{ 'global.validate'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
