{% extends 'layout/_front.html.twig' %}

{% block title %}Inscivez-vous au KMIS{% endblock %}

{% block meta %}
    <meta name="keywords" content="Insciption club krav-maga self-defense, mma, cours femmes, cours ados, cardio training, combat, mental" />
    <meta name="description" content="Inscrivez vous au club du KMIS, club de krav maga self defense dans l'Oise (Villers-Sous-Saint-Leu 60340 et Mogneville 60140).">
    <meta name="og:title" property="og:title" content="Inscivez-vous au KMIS">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner.html.twig' with {
        'image': asset('build/images/registration.webp'),
        'title': reEnrollment ? ('front.reEnrollment.header.title'|trans) : ('front.registration.header.title'|trans),
    } only %}
{% endblock %}

{% block body %}

    <div class="section">
        <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.registration.page.title'|trans }}</h2>
        {{ form_start(form, {'attr': {'class': 'registration-form'}}) }}
        <div class="row col-x2 col-sm-x1">
            {{ form_row(form.adherent.lastName) }}
            {{ form_row(form.adherent.firstName) }}
        </div>
        <div class="row col-x1">
            {{ form_row(form.withLegalRepresentative, {'attr': {'data-field-update': 'legal-representative'}}) }}
            <div data-field-update-target="legal-representative">
                {% if form.legalRepresentative is defined %}
                    <div class="fieldset">
                        {{ form_label(form.legalRepresentative) }}
                        <div class="row col-x2 col-sm-x1">
                            {{ form_row(form.legalRepresentative.lastName) }}
                            {{ form_row(form.legalRepresentative.firstName) }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="fieldset m-top-1">
            {{ form_label(form.emergency) }}
            <div class="row col-x3 col-md-x2 col-sm-x1">
                {{ form_row(form.emergency.lastName) }}
                {{ form_row(form.emergency.firstName) }}
                {{ form_row(form.emergency.phone) }}
            </div>
        </div>
        <div class="row col-x3 col-md-x2 col-sm-x1">
            {{ form_row(form.adherent.pseudonym) }}
            {{ form_row(form.adherent.birthDate) }}
            {{ form_row(form.adherent.gender) }}
        </div>
        <div class="row col-x2 col-sm-x1">
            {{ form_row(form.adherent.email) }}
            {{ form_row(form.adherent.phone) }}
        </div>
        <div class="row col-x1">
            {{ form_row(form.adherent.address.street) }}
        </div>
        <div class="row col-x2 col-sm-x1">
            {{ form_row(form.adherent.address.zipCode) }}
            {{ form_row(form.adherent.address.city) }}
        </div>
        <div class="fieldset m-top-2">
            <label>{{ 'form.documents.label'|trans }}</label>
            <div class="help-text">{{ 'form.documents.help'|trans }}</div>
            <div class="row col-x1">
                {{ form_row(form.adherent.pictureFile) }}
            </div>
            <div class="row col-x1">
                {{ form_row(form.medicalCertificateFile) }}
            </div>
            <div class="row col-x1">
                {{ form_row(form.licenceFormFile) }}
            </div>
        </div>
        <div class="m-bottom-3">
            {{ form_row(form.comment) }}
        </div>
        {{ form_row(form.purpose) }}
        {{ form_row(form.priceOption) }}
        <div class="m-top-3 m-bottom-1">
            <div class="row col-x1">
                {{ form_row(form.usePassCitizen, {'attr': {'data-field-update': 'pass-citizen'}}) }}
            </div>
            <div data-field-update-target="pass-citizen">
                {% if form.passCitizenFile is defined %}
                    <div class="row col-x1 m-bottom-2">
                        {{ form_row(form.passCitizenFile) }}
                    </div>
                {% endif %}
            </div>
            <div class="row col-x1">
                {{ form_row(form.usePassSport, {'attr': {'data-field-update': 'pass-sport'}}) }}
            </div>
            <div data-field-update-target="pass-sport">
                {% if form.passSportFile is defined %}
                    <div class="row col-x1 m-bottom-2">
                        {{ form_row(form.passSportFile) }}
                    </div>
                {% endif %}
            </div>
        </div>
        {{ form_row(form.copyrightAuthorization) }}
        <div class="fieldset agreement-wrapper">
            {{ form_row(form.agreement) }}
        </div>
        {{ form_row(form.captcha) }}
        <div class="flex flex--content-center">
            <button type="submit" class="button">{{ 'global.validate'|trans }} <i class="icon-checkmark"></i></button>
        </div>
        {{ form_end(form) }}
        {% if not reEnrollment %}
            <p class="note m-top-2">Veuillez cliquer sur le lien reçu par email pour valider votre inscription.</p>
        {% endif %}
    </div>

{% endblock %}
