{% extends 'layout/_front.html.twig' %}

{% block title %}Les disciplines du KMIS{% endblock %}

{% block meta %}
    <meta name="keywords" content="krav-maga, self-defense, mma, cours femmes, cours ados, cardio training, combat, mental" />
    <meta name="description" content="Entraînez-vous comme vous voulez vous défendre. Le KMIS vous propose des méthodes simples, exigeantes et efficaces pour progresser efficacement (renforcement musculaire, dépassement de soi, techniques de combat...).">
    <meta name="og:title" property="og:title" content="Les disciplines du KMIS">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner.html.twig' with {
        'image': asset('build/images/sporting.webp'),
        'title': ('front.sporting.header.title'|trans),
    } only %}
{% endblock %}

{% block body %}

    <div class="sporting-wrapper">

        <div id="km-defense" class="section">
            <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.home.sporting.kmDefense.title'|trans }}</h2>
            <div class="sporting">
                <div class="sporting__image with-background" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="{{ asset('build/images/km_defense.webp') }}" alt="{{ 'front.home.sporting.kmDefense.title'|trans }}"/>
                </div>
                <div class="sporting__content">
                    <p>Cette discipline se destine à tous ceux qui veulent apprendre à se défendre sans compromis. Le travail sur la détermination, l’agressivité instantanée, le dépassement de soi, la condition physique et la technique sont mis au profit de la défense personnelle.</p>
                    <p>Une part importante du travail sera faite sur la mise en situation, la gestion et la résistance au stress ainsi que sur les principes clés à connaître et à mettre en œuvre.</p>
                    <p>Tout ceci pourrait être résumé en une phrase « marche des kilomètres pour éviter tout problème, mais si tu n’as pas d’autres choix que d’y faire face, alors ne recule pas d’un pouce ».</p>
                    <p>Oubliez ce que vous connaissez en matière de self defense et venez essayer une méthode ultra simple mais aussi exigeante.</p>
                    <p>Toutes les gouttes de sueur versées à l’entraînement seront autant de larmes en moins dans la rue.</p>
                    <p>Entraînez-vous comme vous voulez vous défendre.</p>
                </div>
            </div>
            <div class="sporting-reminder">
                <div>Cours le lundi : 20h30 - 22h30 à <strong>Mogneville</strong></div>
                <div>Cours le vendredi : 20h30 - 22h30 à <strong>Villers-Sous-Saint-Leu</strong></div>
            </div>
        </div>

        <div id="km-training" class="section">
            <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.home.sporting.kmTraining.title'|trans }}</h2>
            <div class="sporting">
                <div class="sporting__image with-background" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="{{ asset('build/images/km_training.webp') }}" alt="{{ 'front.home.sporting.kmTraining.title'|trans }}"/>
                </div>
                <div class="sporting__content">
                    <p>Cette discipline s’adresse à ceux qui sont en manque ou en recherche de confiance en soi, qui veulent une porte d’entrée avant de tenter la self defense, système de défense plus extrême, et/ou qui souhaitent enrichir leurs connaissances avec un bagage technique important.</p>
                    <p>Elle présente aussi une bonne préparation ou un bon complément à la self defense.</p>
                    <p>On y travaille tous les types de frappes, différentes situations avec des solutions proposées (avec ou sans armes), debout ou au sol, dans le but de prendre conscience et confiance sur ses capacités et leur impact sur une situation difficile.</p>
                    <p>On vous dit à bientôt pour une rentrée sportive avec énormément de surprises à venir dans ce nouveau club.</p>
                    <p>N’oubliez pas, entraînez-vous comme vous voulez vous défendre.</p>
                </div>
            </div>
            <div class="sporting-reminder">
                <div>Cours le mercredi : 20h30 - 22h30 à <strong>Mogneville</strong></div>
                <div>Cours le samedi : 14h30 - 16h00 à <strong>Villers-Sous-Saint-Leu</strong></div>
            </div>
        </div>

        <div id="kmix-mma" class="section">
            <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.home.sporting.kmixMma.title'|trans }}</h2>
            <div class="sporting">
                <div class="sporting__image with-background" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="{{ asset('build/images/kmix_mma.webp') }}" alt="{{ 'front.home.sporting.kmixMma.title'|trans }}"/>
                </div>
                <div class="sporting__content">
                    <p>Le but ici n’est pas de former des combattants à entrer dans une cage, mais de préparer et donner des armes complémentaires si lors d’une agression, les premières actions ne donnent pas l’effet escompté ; on doit alors passer en mode combat, c’est-à-dire avoir une boxe pieds-poings efficace pour décourager ou mettre KO au plus vite, une lutte performante pour être capable d’amener au sol un individu qui serait meilleur « boxeur », ou éviter de se faire emmener au sol dans une situation délicate, et enfin un grappling complet pour être en mesure soit de contrôler soit de mettre un terme au problème si on se retrouve au sol.</p>
                    <p>Le panel des techniques est extrêmement riche, varié et complémentaire aux disciplines de défense.</p>
                    <p>Cette activité sera également ouverte aux adolescents.</p>
                    <p>Entraînez-vous comme vous voulez vous défendre.</p>
                </div>
            </div>
            <div class="sporting-reminder">
                <div>Cours le lundi : 19h30 - 21h00 à <strong>Mogneville</strong></div>
                <div>Cours le vendredi : 19h30 - 21h00 à <strong>Villers-Sous-Saint-Leu</strong></div>
                <div>Cours le samedi : 13h00 - 14h30 à <strong>Villers-Sous-Saint-Leu</strong></div>
            </div>
        </div>

        <div id="defense-femme" class="section">
            <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.home.sporting.defenseWomen.title'|trans }}</h2>
            <div class="sporting">
                <div class="sporting__image with-background" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="{{ asset('build/images/defense_women.webp') }}" alt="{{ 'front.home.sporting.defenseWomen.title'|trans }}"/>
                </div>
                <div class="sporting__content">
                    <p>Le Krav Maga au féminin.</p>
                    <p>Des cours destinés aux femmes, dispensés par une femme. Aborder la self defense sous un aspect plus rassurant, plus intimiste dans le but de travailler des problématiques propres aux femmes et contribuer à faire ressortir ses capacités à se défendre. Appréhension, adaptation et (ré)action : une recette pour venir à bout de multiples situations, certaines pouvant être rencontrées par tous, d’autres spécifiquement par le public féminin.</p>
                    <p>Découverte, mise en confiance, dépassement ; créez, nourrissez et développez votre propre self defense. Attitude plus assurée et réflexes améliorés, venez chercher les outils qui peuvent vous sauver.</p>
                    <p>Les femmes ne seront plus des cibles faciles.</p>
                    <p>Confrontez-vous à la peur, entraînez-vous comme vous voulez vous défendre: POW-HER !</p>
                </div>
            </div>
            <div class="sporting-reminder">
                <div>Cours le samedi : 13h00 - 14h30 à <strong>Villers-Sous-Saint-Leu</strong></div>
            </div>
        </div>

        <div id="defense-ados" class="section">
            <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.home.sporting.defenseTeenager.title'|trans }}</h2>
            <div class="sporting">
                <div class="sporting__image with-background" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="{{ asset('build/images/defense_teenager.webp') }}" alt="{{ 'front.home.sporting.defenseTeenager.title'|trans }}"/>
                </div>
                <div class="sporting__content">
                    <p>La self defense s’adresse aussi aux adolescents. Au collège, au lycée ou à l’extérieur, les agressions peuvent être rencontrées, parfois même à l'origine de camarades. Réagir face aux différents degrés d’agressions en adaptant son comportement et ses gestes est nécessaire.</p>
                    <p>Adaptée aux problématiques des plus jeunes, la discipline accompagnera leur évolution. Travail de la condition physique et mentale, mise en confiance, amélioration des réflexes et réactions, les ingrédients sont réunis pour apprendre à se défendre.</p>
                    <p>On s'adresse à toi: Si tu es adolescent et que cette discipline t’intrigue ou te motive, tu sais à quelle porte frapper : rejoins-nous. Le KMIS est à tes côtés pour te faire progresser.</p>
                    <p>Entraînez-vous comme vous voulez vous défendre.</p>
                </div>
            </div>
            <div class="sporting-reminder">
                <div>Cours le lundi : 19h30 - 20h30 à <strong>Mogneville</strong></div>
                <div>Cours le cendredi : 19h30 - 20h30 à <strong>Villers-Sous-Saint-Leu</strong></div>
            </div>
        </div>

        <div id="cardio-fit-krav" class="section">
            <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.home.sporting.cardioTraining.title'|trans }}</h2>
            <div class="sporting">
                <div class="sporting__image with-background" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="{{ asset('build/images/cardio_fit_krav.webp') }}" alt="{{ 'front.home.sporting.cardioTraining.title'|trans }}"/>
                </div>
                <div class="sporting__content">
                    <p>Un cours dédié à l’amélioration de la condition physique et au dépassement de soi qui s’adapte à tous pour réaliser la répétition de plus, la seconde d’exercice de plus, celle qui peut vous sauver. Dans la rue, la condition physique et la volonté de ne pas lâcher  sont primordiales : pour courir plus vite, frapper plus fort, combattre ou contrôler plus longtemps, elle est une véritable alliée. Renforcement musculaire, cardiovasculaire et mental, la formule est complète.</p>
                    <p>Sous forme d’ateliers ou de circuits, cette activité promet sueur, dépassement et bonne humeur sur une playlist musicale conçue pour vous motiver.</p>
                    <p>Entraînez-vous comme vous voulez vous défendre.</p>
                </div>
            </div>
            <div class="sporting-reminder">
                <div>Cours le mercredi : 19h30 - 20h30 à <strong>Mogneville</strong></div>
            </div>
        </div>

        <div id="krav-children" class="section">
            <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.home.sporting.kravChildren.title'|trans }}</h2>
            <div class="sporting">
                <div class="sporting__image with-background" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="{{ asset('build/images/krav_children.webp') }}" alt="{{ 'front.home.sporting.kravChildren.title'|trans }}"/>
                </div>
                <div class="sporting__content">
                    <p>La nouveauté au Krav Maga Impact System : un cours réservé aux enfants.</p>
                    <p>Grandir est tout un art : équilibre, bien-être, confiance en soi, gestion de ses émotions, adaptation aux codes sociaux à l’école ou en dehors... Apprendre en s'amusant, en faisant respecter ses propres limites, son espace et son périmètre de sécurité, contrôler des gestes simples, son langage corporel pour se prémunir du danger, améliorer sa motricité et augmenter sa dépense physique dans un cadre tout en s’immergeant dans le monde du sport et en intégrant ses valeurs : respect, contrôle, partage...</p>
                    <p>C'est ce que propose, en jouant, le Krav Maga Impact System.</p>
                </div>
            </div>
            <div class="sporting-reminder">
                <div>Cours le samedi : 13h00 - 14h00 à <strong>Villers-Sous-Saint-Leu</strong></div>
            </div>
        </div>

    </div>

{% endblock %}
