<nav class="level">
    <div class="level-left"></div>
    <div class="level-right">
        <p class="level-item">
            <a href="{{ path('bo_adherent_list') }}" class="button is-outlined">
                <span>{{ 'global.back'|trans }}</span>
                <span class="icon"><i class="icon-back"></i></span>
            </a>
        </p>
        <p class="level-item">
            <form
                data-confirm
                data-confirm-message="{{ 'global.confirmDelete'|trans }}"
                action="{{ path('bo_adherent_delete', {'adherent': adherent.id}) }}"
                method="POST"
            >
                <input type="hidden" name="_token" value="{{ csrf_token('delete-'~adherent.id) }}" />
                <button type="submit" class="button is-danger">
                    <span>{{ 'global.delete'|trans }}</span>
                    <span class="icon"><i class="icon-cross"></i></span>
                </button>
            </form>
        </p>
    </div>
</nav>

<div class="tabs is-centered is-boxed">
    <ul>
        <li{% if current == 'adherent' %} class="is-active"{% endif %}>
            <a href="{{ path('bo_adherent_edit', {'adherent': adherent.id}) }}">{{ 'back.adherent.tab.adherent'|trans }}</a>
        </li>
        <li{% if current == 'registration' %} class="is-active"{% endif %}>
            <a href="{{ path('bo_registration_edit', {'registration': registration.id}) }}">{{ 'back.adherent.tab.registration'|trans }}</a>
        </li>
        <li{% if current == 'payments' %} class="is-active"{% endif %}>
            <a href="{{ path('bo_payment_list_for_adherent', {'adherent': adherent.id}) }}">{{ 'back.adherent.tab.payments'|trans }}</a>
        </li>
    </ul>
</div>
