{% extends 'layout/_back.html.twig' %}

{% block body %}

    <h1 class="title">{{ 'back.gallery.title'|trans }}</h1>

    <div class="gallery">
    {% for adherent in adherents %}
        <a href="{{ path('bo_adherent_edit', {'adherent': adherent.id}) }}" target="_blank" class="gallery__adherent gallery__adherent--{{ adherent['gender']|lower }}">
            <div class="picture">
            {% if adherent['pictureUrl'] is not null %}
                <img src="{{ path('bo_download_picture', {'adherent': adherent['id']}) }}" alt="{{ adherent['firstName'] ~ ' ' ~ adherent['lastName'] }}"/>
            {% else %}
                <img src="{{ asset('build/images/picture_' ~ (adherent['gender']|lower) ~ '.png') }}" alt="{{ adherent['firstName'] ~ ' ' ~ adherent['lastName'] }}"/>
            {% endif %}
            </div>
            <div class="firstName">{{ adherent['firstName'] }}</div>
            <div class="lastName">{{ adherent['lastName'] }}</div>
        </a>
    {% endfor %}
    </div>

    <div class="separator--3"></div>

{% endblock %}
