<div class="sporting-slide">
    <div class="title">{{ title }}</div>
    <div class="content-wrapper with-background">
        <img src="{{ image }}" alt="">
        <div class="content with-overlay">
            <div>{{ content }}</div>
            <a href="{{ link }}" class="link-icon-button">{{ 'global.more'|trans }} <i class="icon-search"></i></a>
        </div>
    </div>
</div>
