<div class="sporting-slide">
    <div class="title">{{ title }}</div>
    <div class="content-wrapper with-background">
        <img src="{{ image }}" alt="">
        <div class="content with-overlay">
            <div>{{ content }}</div>
            <a href="{{ link }}">{{ 'global.more'|trans }}</a>
        </div>
    </div>
</div>
