<nav id="menu-wrapper">
    <div class="menu">
        <a href="{{ path('app_home') }}"><span>{{ 'front.menu.item.home'|trans }}</span></a>
        <a href="{{ path('app_sporting') }}"><span>{{ 'front.menu.item.sporting'|trans }}</span></a>
        <a href="{{ path('app_registration') }}"><span>{{ 'front.menu.item.registration'|trans }}</span></a>
        <a href="{{ path('app_contact') }}"><span>{{ 'front.menu.item.contact'|trans }}</span></a>
        <a href="https://www.facebook.com/profile.php?id=100077200202094" target="_blank" class="facebook"><i class="icon-facebook"></i></a>
        <a href="https://instagram.com/km.impact.system" target="_blank" class="instagram"><i class="icon-instagram"></i></a>
    </div>
    <div class="menu-burger"></div>
</nav>
