<nav id="menu-wrapper">
    <img class="logo" src="{{ asset('build/images/logo.png') }}" alt="Krav Maga Impact System"/>
    <div class="menu">
        <a href="#">{{ 'front.menu.item.club'|trans }}</a>
        <a href="#">{{ 'front.menu.item.sporting'|trans }}</a>
        <a href="#">{{ 'front.menu.item.registration'|trans }}</a>
        <a href="#">{{ 'front.menu.item.contact'|trans }}</a>
    </div>
</nav>
