<nav id="menu-wrapper">
    <div class="menu">
        <a href="{{ path('app_home') }}">{{ 'front.menu.item.club'|trans }}</a>
        <a href="{{ path('app_sporting') }}">{{ 'front.menu.item.sporting'|trans }}</a>
        <a href="{{ path('app_registration') }}">{{ 'front.menu.item.registration'|trans }}</a>
        <a href="{{ path('app_contact') }}">{{ 'front.menu.item.contact'|trans }}</a>
    </div>
</nav>
