<article class="section">
    <h2 data-aos="zoom-out" data-aos-duration="1000">{{ news.title }}</h2>
    <div class="news">
        <div class="news__content">
            {% if news.pictureUrl %}
                <img src="{{ path('app_news_picture', {'news': news}) }}" alt="" class="picture" data-aos="zoom-in" data-aos-duration="1200"/>
                <span class="news-button"></span>
                <div class="news-text">
                    <div class="scrollable">
                        {{ news.content|raw }}
                    </div>
                </div>
            {% else %}
                {{ news.content|raw }}
            {% endif %}
        </div>
        <div class="news__detail">
            {{ news.detail|raw }}
        </div>
    </div>
</article>
