{% use 'form_div_layout.html.twig' %}

{%- block form_row -%}
  {%- set widget_attr = {} -%}
  {%- if help is not empty -%}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
  {%- endif -%}
  <div{% with {attr: row_attr|merge({'class': 'form-group'})} %}{{ block('attributes') }}{% endwith %}>
    {{- form_label(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_errors(form) -}}
    {{- form_help(form) -}}
  </div>
{%- endblock -%}

{%- block form_errors -%}
  {%- if errors|length > 0 -%}
    <ul class="form-errors">
      {%- for error in errors -%}
        <li>{{ error.message }}</li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
{%- endblock form_errors -%}

{%- block form_widget_simple -%}
  {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' input')|trim}) -%}
  {{ parent() }}
{%- endblock form_widget_simple -%}

{%- block textarea_widget -%}
  {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' textarea')|trim}) -%}
  {{ parent() }}
{%- endblock textarea_widget -%}

{%- block button_widget -%}
  {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' button')|trim}) -%}
  {{ parent() }}
{%- endblock button_widget -%}

{%- block choice_widget_expanded -%}
  {%- set attr = attr|merge({'class': 'radio-wrapper'}) -%}
  {{ parent() }}
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
  <div class="select">
    {{ parent() }}
  </div>
{%- endblock choice_widget_collapsed -%}

{%- block checkbox_row -%}
  {%- set widget_attr = {} -%}
  {%- if help is not empty -%}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
  {%- endif -%}
  <div{% with {attr: row_attr|merge({'class': 'form-group form-group--checkbox'})} %}{{ block('attributes') }}{% endwith %}>
    {{- form_widget(form, widget_attr) -}}
    {{- form_label(form) -}}
    {{- form_errors(form) -}}
    {{- form_help(form) -}}
  </div>
{%- endblock -%}

{% block masked_widget %}
  {{ form_widget(form, {'attr' : attr|merge({ 'data-mask-input': mask})}) }}
{% endblock %}

{%- block file_widget -%}
  {%- set attr = attr|merge({'class': 'flex--grow'}) -%}
  <div class="input-file-wrapper flex flex--items-center">
    <input type="file" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% if download_uri is defined %}
      <a href="{{ download_uri }}" target="_blank"><i class="icon-box-add"></i></a>
    {% endif %}
  </div>
{%- endblock file_widget -%}

{% block google_captcha_row %}
  <div class="form-group captcha-wrapper">
    <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
    <div class="captcha-error">{{ form_errors(form) }}</div>
  </div>
{% endblock %}
