{% block subject %}[KMIS] Demande de contact{% endblock %}

{% block html %}
<p>Demande de contact de la part de "{{ email }}" [{{ ip }}]</p>
<div>{{ message|nl2br }}</div>
<p>L'équipe KMIS</p>
<img src="{{ frontBaseUrl ~ asset('build/images/sign.png') }}" alt="KMIS" style="width: 200px;" />
{% endblock %}

{% block text %}
Demande de contact de la part de "{{ email }}" [{{ ip }}]

{{ message }}

L'équipe KMIS
{% endblock %}
